[Unit]
Description=Run weekly system maintenance
Requires=maintenance.service

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target